.error {
text-align: center;
   background: hsl(0, 100%, 50%);
   color: white;
   padding: 5px;
   width: 100%;
   border-radius: 5px;
   margin: 10px auto;
    
}

.success {
   background: #a832a2;
   color: white;
   padding: 5px;
   width: 100%;
   border-radius: 5px;
   margin: 20px auto;
    text-align: center;
}
